# Dependencies
node_modules/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build output
dist/
build/

# Rust
server-rust/target/
server-rust.exe
*.pdb

# Binaries / Releases
releases/
*.exe
*.apk
*.ipk
*.zip

# Benchmark / temp
benchmark.bat

java/out/
*.class
